nav{
    min-height: 10vh;
    display: flex;
    justify-content: space-around;
    align-items: center;

    button{
        background: transparent;
        border:none;
        font-size: 1.5rem;
        padding: 0.5rem;
        cursor: pointer;

        &:hover{
            background: rgb(44, 43, 43);
            color: whitesmoke;
        }
    }
    .brand-name{
        display: flex;
        flex-direction: row;
        h1{
            color: #e48e66;
        }
        
        img{
            height: 4rem;
        }
    }
}